@import '../../App.scss';

.result{
  position: relative;
  h3{
    font-size: 1.875rem;
    color:$tertiary-color;
  }
  &__word {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  audio{
    width:20%;
    outline: none;
    border: none;
  }
  &__details{
gap: 10px;
position: absolute;
margin: 40px 0 20px 0;
font-size:14px;
color: $secondary-color;
font-weight: 600;
  }
  &__meaning p{
color: $tertiary-color;
 margin-top: 20px;
padding: 0;
 
    }
    
}






